<div class="right-section container">

    <!-- Page Content -->
    <section class="template-content">

        <div class="companyname-container">
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>

        <div class="headline-container">
            {{ profile.headline }}
        </div>

        <div class="socialicons-container">
            {{widget('profile', 'socialicons', {
              'profileType':'socialicons',
              'twitter':'profile',
              'refreshtime':'1800000'
            })|raw}}
        </div>

        <div class="companydescription-container">
            {{widget('content', 'content', {
                content: '<p>Type content here...</p>'
            })|raw}}
        </div>

        <div class="button-container">
            {{widget('button', 'button', {
                'text': 'View My Portfolio'
            })|raw}}
        </div>


        {% include "includes/footer.twig" %}

        <div class="main-zone">

            <!-- Main Widet Zone -->
            {{zone('main')|raw}}

        </div>

    </section>
    <!-- End Page Content -->

</div>
