
<<<<<<< HEAD
    <!-- Page Content -->
    <section class="template-content">

        <div class="companyname-container">
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>

        <div class="headline-container">
            {{widget('profile', 'headline', {
                'profileType':'headline',
                'twitter':'profile',
                'refreshtime':'1800000'
            })|raw}}
        </div>

        <div class="socialicons-container">
            {{widget('profile', 'socialicons', {
              'profileType':'socialicons',
              'twitter':'profile',
              'refreshtime':'1800000'
            })|raw}}
        </div>

        <div class="companydescription-container">
            {{widget('profile', 'companydescription', {
              'profileType':'companydescription',
              'twitter':'profile',
              'refreshtime':'1800000'
            })|raw}}
        </div>

        <div class="button-container">
            {{widget('button', 'button', {
                'text': 'View my portfolio'
            })|raw}}
        </div>


        {% include "includes/footer.twig" %}

                {{zone('main')|raw}}

    </section>
    <!-- End Page Content -->

</div>
=======
>>>>>>> de88d5b9b60cbffca09d38ede2dc12b70f599424
